.app{
    @apply mx-auto w-full max-w-5xl bg-white
  }
/* .home{
    @apply grid grid-cols-1 px-5 xl:grid-cols-2 content-center items-center gap-x-5 w-full
  } */
.home{
  @apply flex items-center justify-center flex-col-reverse xl:flex-row
}

[data-theme="cyberpunk"] #root{
  @apply bg-[#fff248]
}
.home .home-left{
    @apply w-full px-5
  }

.home .home-left h2{
  @apply font-bold text-xl
}

.home  .home-left h1{
  @apply text-xl font-semibold text-error
}

.home .home-left h3{
  @apply text-4xl font-bold
}

.home .home-left p{
  @apply my-2 text-justify text-lg
}

.home .home-right{
  @apply w-full  flex justify-center
}
.home .home-right img{
    @apply max-w-sm
  }


.about{
  @apply grid grid-cols-1 xl:grid-cols-2 gap-x-5 content-center items-center
}

.about .left{
@apply  flex justify-center items-center
}

.about .left img{
  @apply max-w-sm
}

.about .right{
  @apply py-10 pl-5
}
.about .right h1{
  @apply text-4xl font-semibold
}

#services h1{
  @apply text-center text-4xl font-semibold mb-7
}

#services p{
  @apply text-lg text-justify mb-5
}

#services {
  @apply py-14
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffbe00;
  --mustard: #ffaa00;
  --background: var(--white);
  --accent: var(--black);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}



.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: var(--yellow);
  z-index: 10000;
  transform-origin: 0%;
}
